<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Machine Learning API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
<div class="login">
<h1>Wake Word Detection</h1>
    <p>Please select Custom Wake Word Model</p>
    <form id="form1" action="/model_selection" method="POST" enctype="multipart/form-data">
        <select id="mySelect" name = "models">
            <option value="House">House</option>
            <option value="FourthBrain">Fourthbrain</option>
        </select>
    <br>
        <br>
        {{ selection_text }}
        <br>
    <br>
        <input type="submit" class="btn btn-primary btn-block btn-large" value="Submit Selection">
    </form>
        <p>Upload your .wav file (max length 1.5s at 16 KHz</p>
    <form method="post" action="/wave_selection "enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" id="btn btn-primary btn-block btn-large" value="Test"/>
    </form>

<!--    <form action="{{ url_for('record_voice')}}"method="POST">-->
<!--        <button type="submit" class="btn btn-primary btn-block btn-large">Wake</button>-->
<!--    </form>-->
<!--   <br>-->
<!--   <br>-->
   {{ prediction_text }}
    <br>


</div>


</body>
</html>
